<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Roboto+Condensed:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="mainContainer"></div>
    <div class="container">
        <h1 class="header-content">BLOOD BANK MANAGEMENT SYSTEM</h1>
        <!-- <h4 class="para1">Get Required Blood In Case Of Shortage!!!</h4> -->
    </div>
    <div class="a_links">
        <a href="/admin/login" class="btn btn-lg btn-info"><i class="fa fa-user-md" aria-hidden="true"></i> Login as Admin</a>
        <a href="/users/login" class="btn btn-lg btn-info"><i class="fa fa-users" aria-hidden="true"></i> Login as User</a>
    </div>
                           
</body>
</html>