<% include ../partials/header %>
<div class="container">
    <div class="text-center">
        <h1 style="color: #660000;">Do you have any request for specific blood?</h1>
        <p id="about">Fill up the following form and we will contact you with your details in case of availability.</p>
    </div>
        <form class="form-inline-block" action="/users/grantedRequest" method="POST">
            <div style="margin:0 auto; width: 50%;">
            <div class="form-group">
                <label for="name">Name:</label>
                <input class="form-control" id="name" name="name" type="text" required>
            </div>
            <div class="form-group">
                <label for="age">Age:</label>
                <input class="form-control" id="age" name="age" type="number" maxlength="2" min="0" max="80" required> 
            </div>
            <div class="form-group">
                <label for="location">Location:</label>
                <input class="form-control" id="location" name="location" type="text" required>
            </div>
            <div class="form-group">
                <label for="phone">Phone Number:</label>
                <input class="form-control" id="phone" name="phone" type="number" min="0" max="9999999999" required>
            </div>
            <div class="form-group">
                <label for="bloodGroup">Blood Group:</label>
                <select name="bloodGroup" id="bloodGroup" class="form-control" required>
                    <option value="O+">O+</option>
                    <option value="O-">O-</option>
                    <option value="A+">A+</option>
                    <option value="A-">A-</option>
                    <option value="B+">B+</option>
                    <option value="B-">B-</option>
                    <option value="AB+">AB+</option>
                    <option value="AB-">AB-</option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class=" form-control btn btn-primary">Submit</button>
            </div>
        </div>
        </form>
</div>
