<% include ../partials/header %>
<div class="container">
    <div class="jumbotron">
        <p></p>
        <h2>Hey buddy... We will get in contact  with your requirements!!! </h2>
    </div>
    <a href="/users/home" class="btn btn-primary">Go Back</a>
</div>