<% include ../partials/header %>

<div class="container">
    <div class="jumbotron">
        <div class="text-center">
            <h1>Profile page</h1> <br>
            <img style="border-radius: 400px;" src="../assets/profile_img.jpg" alt="img"> <br> <br>
            <h4><%= currentUser.username %></h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta consectetur minus, officiis cum voluptas quibusdam quia! Assumenda, possimus magnam veritatis quos et expedita repudiandae dolores ea repellat sit atque non?</p>
        </div>
    </div>
</div>

<% include ../partials/footer %>